@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    font-family: sans-serif;
}

.hide-number-input-arrows::-webkit-outer-spin-button,
.hide-number-input-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-number-input-arrows[type=number] {
    -moz-appearance: textfield;
}

.navbar-form-clikkle {
    --font-body: 'Google Sans';
    --font-lockup: 'Product Sans';
    --font-heading: 'Google Sans';
    --font-secondary: 'Google Sans Text';
    --header-height: 63px;
    --vh: 7.08px;
    font-family: var(--font-heading), Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 24px;
    opacity: 1;
    transform: translateY(0);
    transition: all .25s ease;
    animation: .3s ease 0s 1 normal forwards mqn-opacity-fade-in;
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
    width: 100%;
}

.navbar-input-clikkle {
    --font-body: 'Google Sans';
    --font-lockup: 'Product Sans';
    --font-heading: 'Google Sans';
    --font-secondary: 'Google Sans Text';
    --header-height: 63px;
    --vh: 7.08px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-secondary), Arial, sans-serif;
    appearance: none;
    background: #f1f3f4;
    border: 0;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #3a3d40;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 9px 13px;
    width: 100%;
}

.navbar-button-clikkle {
    --font-body: 'Google Sans';
    --font-lockup: 'Product Sans';
    --font-heading: 'Google Sans';
    --font-secondary: 'Google Sans Text';
    --header-height: 63px;
    --vh: 7.08px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-heading), Arial, sans-serif;
    background-color: #1a73e8;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.navbar-img-clikkle {
    --font-body: 'Google Sans';
    --font-lockup: 'Product Sans';
    --font-heading: 'Google Sans';
    --font-secondary: 'Google Sans Text';
    --header-height: 63px;
    --vh: 7.08px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-heading), Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 20px;
    text-align: center;
    max-width: 100%;
    transform: translateY(-1px);
}

.section-img-clikkle {
    object-fit: contain;
    width: 100%;
    height: 100%;
}